extends ../layout.pug


block breadcrumb  
    li
        a(href='#')
            em(class='fa fa-home')
        li(class='active') &nbsp; Les biens
        
block content
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Enregistrer un bien
        .btn-toolbar.mb-2.mb-md-0
            a.btn.btn-small.btn-secondary(href="/admin/product") Liste des biens
    .row
        form(role="form" method="post" enctype="multipart/form-data")
            input(type="hidden" name="csrf" value=csrf)
            .row
                .col-xs-12.col-lg-6 
                    fieldset
                        legend Adresse du bien
                        .col-lg-12 
                            .form-group
                                label Nom du vendeur
                                input.form-control(type="text" name="realty[seller]" maxlength="40" required placeholder="Nom du vendeur" value=product.seller)
                        .col-lg-12 
                            .form-group
                                label Adresse
                                input.form-control(type="text" name="realty[address1]" maxlength="80" placeholder="Adresse" value=product.address1)
                        .col-lg-12 
                            .form-group
                                input.form-control(type="text" name="realty[address2]" maxlength="80" placeholder="suite adresse (facultatif)" value=product.address2)
                        .col-lg-6 
                            .form-group
                                label Code postal
                                input.form-control(type="text" name="realty[zipcode]" maxlength="10" placeholder="Code postal" value=product.zipcode)
                        .col-lg-6 
                            .form-group
                                label Ville
                                input.form-control(type="text" name="realty[city]" maxlength="80" placeholder="Ville" value=product.city)
                        .col-lg-12 
                            .form-group
                                label Informations complémentaires
                                textarea.form-control(name="realty[info_address]" style="height:200px;width:100%;" placeholder="Distances des transports en commun, commerces de proximités, etc")=product.info_address
                .col-xs-12.col-lg-6  
                    fieldset
                        legend Contact du bien
                        .form-group
                            label Civilité
                            select.form-control(name="contact[civility]")
                                option(value="1") Monsieur
                                option(value="2" selected=product.contact.civility=="2") Madame
                        .form-group
                            label Nom
                            input.form-control(name="contact[lastname]" type="text" placeholder="Nom" value=product.contact.lastname)
                        .form-group
                            label Prénom
                            input.form-control(name="contact[firstname]" type="text" placeholder="Prénom" value=product.contact.firstname)
                        .form-group
                            label Email
                            input.form-control(name="contact[email]" type="email" placeholder="Adresse mail" value=product.contact.email)
                        .form-group
                            label Mobile
                            input.form-control(name="contact[mobile]" type="text" placeholder="Numéro de mobile" value=product.contact.mobile)
                        .form-group
                            label Téléphone
                            input.form-control(name="contact[phone]" type="text" placeholder="Numéro de téléphone" value=product.contact.phone)
                        .form-group
                            label Informations complémentaires
                            textarea.form-control(name="contact[info]" style="height:90px;width:100%;" placeholder="Disponibilités")=product.contact.info
            .row
                .col 
                    fieldset
                        legend Informations du bien
                        .row
                            .col-xs-12.col-lg-6  
                                .row
                                    .form-group
                                        label Type de bien
                                        select.form-control(name="realty[type]")
                                            option(value="1") Maison
                                            option(value="2" selected=product.type=="2") Appartement
                                            option(value="3" selected=product.type=="3") Terrain
                                            option(value="4" selected=product.type=="4") Parking
                                            option(value="5" selected=product.type=="5") Local / Bureau 
                                            option(value="6" selected=product.type=="6") Autres 
                            
                                    .form-group
                                        label Prix net vendeur
                                        input.form-control(name="realty[price]" type="number" placeholder="Prix net vendeur" value=product.price)
                        
                                    .form-group
                                        label Commision
                                        input.form-control(name="realty[amount_commission]" type="number" placeholder="Montant de commission" value=product.amount_commission)
                                    .form-group
                                        input.form-control(name="realty[percentage_commission]" type="number" placeholder="% de commission" value=product.percentage_commission)
                            .col-xs-12.col-lg-6  
                                .row                 
                                    .lcUpload__block
                                        .lcUpload__input
                                            input.lcUpload__file(type="file" name="photos" id="file" data-multiple-caption="{count} fichiers sélectionnés" multiple)
                                            label(for="file")
                                                strong Choisissez le fichier
                                                span.lcUpload__dragndrop  ou glissez le ici
                        //- Ajouter la liste des images existantes et permettre la suppression
                        .row
                            .col-xs-12.col-lg-6    
                                .form-group
                                    label Surface (m²)
                                    input.form-control(name="realty[area]" type="number" min="0" step="1" placeholder="Surface en m²" value=product.area)
                            .col-xs-12.col-lg-6 
                                .form-group
                                    label Pièces
                                    input.form-control(name="realty[room]" type="number" min="0" step="1" placeholder="Nombre de pièces" value=product.room)
                            .col-xs-12.col-lg-6  
                                .form-group
                                    label Type de ventes
                                    select.form-control(name="realty[type_product]")
                                        option(value="1") Ancien
                                        option(value="2" selected=product.type_product=="2") Neuf
                                        option(value="3" selected=product.type_product=="3") Viager
                        .col-lg-12 
                            .form-group
                                label Informations complémentaires sur le bien
                                textarea.form-control(name="realty[info_realty]" style="height:90px;width:100%;" placeholder="Travaux à effectuer, classe énergie, GES, etc")=product.info_realty
        
                        textarea#homeRoughData(name="realty[plan]" style="display:none;")= product.plan

            .row.justify-content-center.mt-3
                .col-2
                    button#openHomeRoughEditor.btn.btn-success(type="button" data-bs-toggle="modal" data-bs-target="#planModal") Editer le plan
                .col-2
                    button.btn.btn-primary(type="submit") Enregistrer

    #planModal.modal.fade(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="planModalTitle" aria-hidden="true")
        .modal-dialog.modal-fullscreen.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5#planModalTitle.modal-title Création du plan
                    button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;

                .modal-body 
                    <iframe name="homeRoughEditor" src="/homeRoughEditor/index.html" style="width:100%; height:100%;"></iframe>
                    //--include realty/plan.pug

                .modal-footer
                    //- button.btn.btn-secondary(type="button" class="" data-bs-dismiss="modal") Fermer
                    button#saveHomeRough.btn.btn-primary(type="button" data-bs-dismiss="modal") Enregistrer

    block scripts 
         script(src="/js/saveHomeRough.js")