extends ../layout.pug

block breadcrumb  
    li
        a(href='#')
            em(class='fa fa-home')
        li(class='active') &nbsp; Les contacts
        
block content
    block content
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Enregistrer un contact
        .btn-toolbar.mb-2.mb-md-0
            a.btn.btn-small.btn-secondary(href="/admin/contact") Liste des contacts
 
    .row
        .col-lg-12                        
            form(action=route method="post")
                input(type="hidden" name="csrf" value=csrf)

                | !{form.error.civility} 
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text.d-none.d-lg-block 
                            i.fa.fa-restroom
                    | !{form.widget.civility}


                | !{form.error.lastname} 
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text.d-none.d-lg-block
                            i.fa.fa-user
                    | !{form.widget.lastname}


                | !{form.error.firstname} 
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text.d-none.d-lg-block 
                            i.fa.fa-user
                    | !{form.widget.firstname}

                
                | !{form.error.email}
                .input-group.mb-3
                    span.input-group-prepend
                        span.input-group-text.d-none.d-lg-block 
                            i.fa.fa-envelope 
                    | !{form.widget.email}         

                | !{form.error.phone} 
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text.d-none.d-lg-block
                            i.fa.fa-phone
                    | !{form.widget.phone}

                | !{form.error.mobile} 
                .input-group.mb-3
                    .input-group-prepend
                        .input-group-text.d-none.d-lg-block
                            i.fa.fa-phone
                    | !{form.widget.mobile}


                .row.justify-content-center
                    .col-2
                        button.btn.btn-primary(type="submit") Enregistrer